<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Noter vos idées pour vos prochains cours Youtube</p>
    <a href="" class="btn btn-dark btn-lg">Ajout Idées Cours</a>
</div>


   
    

